doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.css',media='screen')
    link(rel='stylesheet',href='/stylesheets/bootstrap-theme.css',media='screen')
  body
    block content

    //script(src='http://code.jquery.com/jquery.js')
    script(src='/javascript/jquery-3.0.0.js')
    script(src='/javascript/bootstrap.js')
